<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    {% load static %}
    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'accounts/sign_up/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'accounts/sign_up/css/style.css' %}">
</head>
<body>

    <div class="main">
      {% if registered %}
        <h1> Thank you for registering ! </h1>
      {% else %}
        <h3>  </h3>


        <section class="signup">

            <div class="container">
                <div class="signup-content">
                  <h4> Fill out the form </h4>
                  <form enctype="multipart/form-data" method="POST">  
                    {% csrf_token %}
                    {{ user_form.as_p}}
                    <input type="submit" name="submit" value="Register"/>

                  </form>
        {% endif %}
                    <p class="loginhere">
                        Have already an account ? <a href="/" class="loginhere-link">Login here</a>
                    </p>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="{% static 'accounts/sign_up/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'accounts/sign_up/js/main.js' %}"></script>
</body>
</html>
