<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">



    <title>Topic Subscribe</title>
  </head>
  <body>

    <ul class="nav">

  <li class="nav-item">
    <a class="nav-link" href="/logout/">Logout</a>
  </li>
</ul>
<div class=container>
<button type="button" class="btn btn-success">Select Topics of Interests</button>
  {% block body %}

<form action="" method="post">
  {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" href="/index/" type="submit">Subscribe and Continue</button>

</form>


  {% endblock %}





  </body>
</html>
